@tailwind base;
@tailwind components;
@tailwind utilities;

details[open] summary .details-chevron {
  transform: rotate(180deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  display: none;
}
